body {
	background-color: #505050;
}

.wrapper
{
	margin: auto;
	width: 1420px;
}

.ground {
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 9px 10px 10px 1px black;
}

.header {
	position: relative;
	padding: 10px;
	height: 117px
}

.header .zoom {
	position: relative;
	left: 1124px;
	bottom: 110px;
}

.header .reload {
	position: relative;
	width: 20px;
	left: 1380px;
	bottom: 257px;
}

.header .close {
	position: relative;
	width: 20px;
	left: 1380px;
	bottom: 180px;
}

.left {
	position: relative;
	float: left;
	box-sizing: border-box;
	margin-top: 20px;
	margin-left: 30px;
	width: 140px;
	height: 425px;
	padding-top: 15px;
	padding-left: 32px;
}

.left img {
	box-sizing: border-box;
	width: 70px;
	margin-bottom: 10px;
}

.left .red-square {
	border-radius: 5px;
	position: absolute;
	width: 70px;
	height: 65px;
	border: 5px solid red;
	top: 170px;
	left: 27px;
}

.center {
	position: relative;
	float: left;
	box-sizing: border-box;
	margin-top: 20px;
	margin-left: 30px;
	width: 1020px;
	padding: 10px;
}

.right {
	position: relative;
	float: left;
	box-sizing: border-box;
	margin-top: 20px;
	margin-left: 30px;
	width: 140px;
	height: 425px;
	padding-top: 15px;
	padding-left: 35px;
}

.right img {
	box-sizing: border-box;
	width: 70px;
	margin-bottom: 10px;
}

.right .wall {
	box-sizing: border-box;
	position: relative;
	width: 120px;
	height: 70px;
	left: -25px;
	top: -5px;
	background: url(resources/brick.jpg) repeat;
}

.dialogue {
	box-sizing: border-box;
	position: absolute;
	width: 520px;
	height: 170px;
	background-color: #A6FB96;
	border-radius: 10px;
	box-shadow: 9px 10px 10px 1px black;
	bottom: -94px;
	left: -245px;
	padding-top: 15px;
	padding-left: 10px;
	font-size: 1.1em;
	font-family: sans-serif;
	line-height: 1.2em;
}

.entrez {
	font-size: 1.9em;
}

.ordin {
	text-shadow: 5px 5px 3px rgba(255,0,0,0.7);
}

.dialogue input {
	margin-left: 5px;
	width: 380px;
}

.dialogue button {
	border-radius: 0;
	margin-left: 10px;
}








