body {
	background-image: url(https://signin.intra.42.fr/assets/background_login-a4e0666f73c02f025f590b474b394fd86e1cae20e95261a6e4862c2d0faa1b04.jpg);
}

li {
    list-style-type: none; 
}

.navbar {
	width: 1000px;
	margin: auto;
}

.tab {
	position: relative;
	float: left;
	box-sizing: border-box;
	width: 300px;
	height: 100px;
	border: 2px solid black;
	margin-right: 10px;
	padding: 30px 10px;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
}
.navbar li.tab:nth-child(1), .tab:nth-child(1) li {
	background-color: #FFA320;
}
.navbar li.tab:nth-child(2), .tab:nth-child(2) li {
	background-color: #A38DD7;
}
.navbar li.tab:nth-child(3), .tab:nth-child(3) li {
	background-color: #E2FAC4;
}
.hidden {
	position: relative;
	left: -12px;
	bottom: -35px;
	margin: 0;
	padding: 0;
	display: none;
}

.hidden li {
	box-sizing: border-box;
	border: 1px solid black;
	width: 300px;
	height: 50px;
	margin-bottom: 5px;

}

.tab:hover .hidden {
	display: block;
}